html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  min-height: 100vh;
}
body {
  padding-top: 10vh;
}
body>.container-fluid {
  padding-right: 0;
  padding-left: 0;
  margin-right:0;
  margin-left: 0;
}
.container-fluid> .row{
  margin-right: 0;
margin-left: 0;
}
/*container formulario  */
form{
  border: 1px solid rgb(93, 124, 181);
  padding: 1rem;
}
.btn{
  --bs-btn-disabled-color: rgb(93, 124, 181);
  --bs-btn-disabled-bg: #fff;
  --bs-btn-disabled-border-color: rgb(93, 124, 181);
  --bs-btn-border-radius: .5rem;
}
.btn_active{
  background-color: rgb(93, 124, 181);
  border-color: rgb(93, 124, 181);
  color: #fff;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg:  rgb(101, 136, 201);
  --bs-btn-hover-border-color:  rgb(93, 124, 181);
  --bs-btn-border-radius: .5rem;
}

/* message warning and  events show */
.warning{
  border: 0.8px solid rgb(218, 27, 27);
}
.show{
  display: block;
}
.hide{
  display: none;
}


/*container resultados  */
.boxResults{

  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}
.boxResults> .total, .m2Totales{
  border: 1px solid rgb(93, 124, 181);
  padding: 1rem;
  width: 90%;
  margin-bottom: 1rem;
}
.boxResults> .m2Totales{
  border: 1px solid rgb(93, 124, 181);
  padding: 1rem;
  width: 90%;
}
.resDet{
  width: 50%;
  height:40px;
  border: 1px solid coral;
  text-align: center;
  flex-direction: row;
}
.resDet >p{
  margin-top: 5px;
  color: black;
}
.btn_cot{
  background-color: rgb(93, 124, 181);
  border-color: rgb(93, 124, 181);
  color: #fff;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg:  rgb(101, 136, 201);
  --bs-btn-hover-border-color:  rgb(93, 124, 181);
  --bs-btn-border-radius: .5rem;
  align-items: center;
  margin-left: 1rem;
}